@mixin font($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
};

@mixin wrapper {
    margin: 0 1rem;
    width: 90%;
    margin-bottom: 3rem;
    margin-left: 3rem;
}